/* style.css */

.center {
  margin-top: 2rem;
  text-align: center;
  /* Optional: add border if you want visual separation */
  /* border: 1px solid green; */
}

body {
  background-color: #f6f5f3;
  font-family: 'Segoe UI', sans-serif;
}

/* Removed custom navbar styles since Bootstrap's navbar is used */
/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
*/
